@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Krub:wght@300;400;500&family=Lora:ital,wght@1,400;1,500;1,600&family=Poppins:wght@100;200;300;400;500;600&family=Ubuntu:ital,wght@1,300;1,400&family=Varela+Round&display=swap');
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: paleturquoise;            
}

input {
    outline: none;
}


/* Components */
.body{
    background-color: paleturquoise;
    color: aqua;
}

/* ------Header----- */

.header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    border-bottom: 1px solid #f1f3f4;
}

.brand {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 2px 2px 2px 2px #edf1f0;
    border-radius: 8px;
}

.brand img,
i,
h4 {

    background-color: lightgreen;
    margin: 2px 5px;
    color: black;
}

.brand h4 {
    /* background-color: lightgreen; */
    margin: 2px 7px;
}

.brand h4:hover {
    /* background-color: lightgreen; */
    text-decoration: underline;
}

.brand img {
    /* background-color: lightgreen; */
    width: 38px;
    height: 38px;
}

.user {
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
}

.user h6 {
    /* background-color: lightgreen; */
    margin: 0px 10px;
    color: #606469;
}

.search-bar {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}


/* ------Search Bar----- */

.search {
    /* height: 10px; */
    background-color: lightgreen;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 2px #edf0f1;
}

.mobile-search {
    display: none;
    margin-top: 10px;
    width: auto;
    align-items: center;
    padding: 10px 20px;
}

.search i {
    color: black;
}

.search input {
    /* border: none; */
    /* height: 41px; */
    margin-left: 8px;
    background-color: whitesmoke;
}

.search input::placeholder {
    /* background-color: lightgreen; */
    color: blueviolet;
    height: 150px;
}


/* Navbar */

.nav__cont {
    box-shadow: 2px 3px 4px 2px black;
    color: black;
    /* background-color: grey; */
    position: fixed;
    width: 60px;
    top: 75px;
    height: 100vh;
    overflow: hidden;
    transition: width 0.7s ease;
    cursor: pointer;
}

.nav__cont:hover {
    /* background-color: grey; */
    width: 150px;
}

.nav {
    list-style-type: none;
    /* color: blue; */
}

.nav:first-child {
    padding-top: 1.2rem;
    /* padding-bottom: 5.3rem */
}

.nav__items {
    display: flex;
    font-family: 'roboto';
    align-items: center;
    justify-content: flex-start;
    /* color: green; */
}

.nav__items p {
    position: relative;
    top: 8px;
    left: 19px;
    padding: 10px 20px;
    transition: all 0.8s ease;
    color: black;
    font-family: 'roboto';
    border-bottom: none !important;
    font-size: 25px;
}

.nav__items p:after {
    content: '';
    /* width: 100%; */
    /* top: 0; */
    /* left: 20px; */
    /* border-radius: 2px; */
    /* opacity: 200; */
    /* transition: all 0.5s ease; */
    /* z-index: -100;  */
    /* text-decoration: red; */
}

.nav__items:hover p:after {
    opacity: 100;
}

.nav__items i {
    position: relative;
    left: 20px;
    cursor: pointer;
}


/* Navbar */


/* Mobile Navbar */

.menu-icon {
    display: none;
}

.menu-item {
    /* background-color: whitesmoke; */
    border-bottom: 1px solid #a1a6ac;
    text-align: center;
    color: #606469;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: all 0.3s ease;
}

.menu-item:hover {
    /* background-color: whitesmoke; */
    border-bottom: 1px solid rgb(243, 206, 40);
    color: rgb(243, 206, 40);
}


/* Mobile Navbar */


/* Note  */

#note {
    /* background-color: whitesmoke; */
    height: fit-content;
    padding: 10px;
    border: 1px solid #e3e8eb;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.text {
    /* background-color: red; */
    display: block;
    max-width: 250px;
    word-break: break-all;
    /* optional */
}

.icons-container {
    /* background-color: red; */
    display: flex;
    padding: 2px;
}

.icons-container div {
    background-color: whitesmoke;
    padding: 5px;
    cursor: pointer;
}

.note-icon {
    background-color: whitesmoke;
    width: 17px;
    height: 17px;
    color: #252627;
}


/* Note  */
.text h6{
    background-color: whitesmoke;
    color: #5c5b5b;
}
.text h4{
    color: #000;
    /* background-color: whitesmoke; */
}


/* Note form */

.note-form-con {
    /* height: 200px; */
    /* width: 100%; */

    display: flex;
    margin: 0px 40px ;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* background-color: palegoldenrod; */
    /* color: blue; */
}

.note-form {
    background-color: whitesmoke;
    opacity: 1.9;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 2px #edf0f1;
}
/* add title  and note in edit form */
/* add icon for the app  */
.edit-note-form {
    /* opacity: 5.9; */
    /* height: 600px; */
    width: 60%;
    padding: 200px;
    border-radius: 10px;
}
/* edit form have to be changed since it is not supporting the same format */
input::placeholder {
    /* background-color: whitesmoke; */
    color: #252627;
}

textarea::placeholder {
    /* background-color: whitesmoke; */
    color: #252627;
}

textarea {
    /* background-color: whitesmoke; */
    width: 100%;
    border: none;
    padding-top: 2px;
    display: block;
    outline: none;
}

input {
    /* background-color: whitesmoke; */
    width: 100%;
    border: none;
}

.show {
    display: block;
    /* background-color: red; */
    border-radius: 10px;
    position: absolute;
    box-shadow: 2px 3px 4px 2px black;
}

.hide {
    display: none;
}

.submit {
    /* background-color: whitesmoke; */
    outline: none;
    padding: 0px 7px;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 206, 40);
}

.submit:hover {
    opacity: 0.7;
}


/* Note form */


/* Edit Modal */


/* The Modal (background) */

.modal {
    /* background-color: whitesmoke; */
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(129, 127, 127, 0.4);
}


/* Edit Model */


/* Check */

.check {
    /* background-color: whitesmoke; */
    display: flex;
    cursor: pointer;
    position: relative;
}

.check input {
    background-color: whitesmoke;
    /* background: red; */
}


/* Check */


/* Containers */

.container {
    /* background-color: red; */
    padding: 20px;
}

.container h2 {
    font-size: 17px;
    color: red;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 2px 3px 4px 2px pink;
    margin: 40px;
}

.row {
    padding: 0px 100px;
}

.heading-con {
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    /* margin: 25px 110px; */
}

.heading-con h1 {
    /* background-color: whitesmoke; */
    color:blueviolet;
}


/* Containers */


/* Media Queries */

@media screen and (max-width: 765px) {
    .edit-note-form,
    .note-form {
        width: 85%;
    }
    .search-bar {
        display: none;
    }
    .mobile-search {
        display: flex;
        justify-content: space-around;
    }
    .menu-icon {
        display: block;
    }
    .nav__cont {
        display: none;
    }
}

@media screen and (max-width: 1010px) {
    .search {
        width: auto;
    }
}
